@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit';
    text-align: center;
}

img{
    width: 100%;
    border-radius: 15px;
}

div{
    width: 288px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

p{
    font-size: 18px;
    color: hsl(216, 15%, 48%);
}
